

.App-header {
  background-color:rgb(60, 189, 194);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:rgb(252, 252, 201);
}


